<form class="form"> 
  <h3 style="text-align: center;margin-bottom: 5px;">Edit Profil</h3>
    <div class="form-group" id="form_gp">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        <small id="emailHelp" class="form-text text-muted">You will find here your old Name .</small>
      </div>
    <div class="form-group" id="form_gp">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">You will find here your old Email .</small>
    </div>
    <div class="form-group" id="form_gp">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
