<div class="background_choixmodel1">
    <h2>{{this.displayedText}}</h2>
<div class="container">
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>01</h2>
                <h3>Modèle n 1</h3>
                <img src="../../assets/images/attestation1.png" height="140px" width="170px" id="excel_img">
                <a (click)="choixmodel('attestation1')" >Select</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3>Modèle n 2</h3>
                <img src="../../assets/images/attestation2.jpg" height="140px" width="170px" id="excel_img">
                <a (click)="choixmodel('attestation2')" >Select</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>03</h2>
                <h3>Modèle n 3</h3>
                <img src="../../assets/images/attestation3.jpg" height="140px" width="170px" id="excel_img">
                <a (click)="choixmodel('attestation3')" >Select</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <h2>04</h2>
                <h3>Modèle n 4</h3>
                <img src="../../assets/images/certificate.jpg" height="140px" width="170px" id="excel_img">
                <a  (click)="choixmodel('certificate')"> Select</a>
            </div>
        </div>
    </div>
</div>
</div>
