@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fc;
}

.background_choixmodel1{
    margin-top: 0px;
    width: 100%;
    height: 617px;
    background-image: url("../../assets/images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-align: center;
    padding-top: 50px;
    color: #ff568f;
}

.container {
    display: flex;
    margin-top: 50px;
    margin-left: 6%;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 0px 0;
    box-shadow: inset -5px -5px 5px rgba(109, 105, 105, 0.5) , 
                inset -5px -5px 5px rgba(109, 105, 105, 0.5), 
                -5px -5px 5px rgba(109, 105, 105, 0.5), 
                -5px -5px 5px rgba(109, 105, 105, 0.5);
    position: absolute;
    top: 20%;
}

.container .card {
    position: relative;
    width: 250px;
    height: 340px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), 
                inset -5px -5px 5px rgba(255, 255, 255, 0.5), 
                5px 5px 15px rgba(0, 0, 0, 0.05), 
                -5px -5px 15px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 17px;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container .card:hover .box {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    background: linear-gradient(40deg,#4f29cd, rgba(255, 255, 255, 0.5));
}

.container .card .box .content {
    padding: 0px;
    text-align: center;
}

.container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.05);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    pointer-events: none;
}

.container .card:hover .box .content h2 {
    color: rgba(0, 0, 0, 0.1);
}

.container .card .box .content h3 {
    font-size: 1.1em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container .card .box .content p {
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container .card:hover .box .content h3, .container .card:hover .box .content p {
    color: #fff;
}

.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 13px 50px;
    background: #03a9f4;
    margin-top: 0px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container .card:hover .box .content a {
    background: #ff568f;
}

#excel_img{
    border-radius: 10px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}