<div class="nav">
    <img src="../../assets/images/cni_logo.png" height="55px" width="100px">
    <h4 id="cni_logo">CNI Dashboard</h4>
    <input type="text" placeholder="Search..." id="search">
    <img src="../../assets/images/menu.png" id="menu">
</div>
<div class="body">
    <div id="profil">
        <div id="photoetnom">
            <img src="../../assets/images/profil.png" width="80px" height="75px" id="profil_logo">
            <div>
                <h4 class="profil_name">Moutie<br>Abdelhafidh</h4>
            </div>
        </div>
        <button class="btn_profil" routerLink="/dashboard">Edit Certificates</button>
        <button class="btn_profil" routerLink="/dashboard/users">List of Users</button>
        <button class="btn_profil" routerLink="/dashboard/admins">List of Admins</button>
        <button class="btn_profil" routerLink="/dashboard/editprofil">Edit Profil</button>
    </div>
    <app-manipulate-certif></app-manipulate-certif>
</div>